#server:
#  port: 8095
spring:
  data:
    mongodb:
      uri: mongodb://localhost:27017/fulfillment
  kafka:
    bootstrap-servers: localhost:9092
    topic:
      accounts-customer: accounts.customer.change
      orders-order: orders.order.fulfill
      fulfillment-orders: fulfillment.order.change
    consumer:
      group-id: fulfillment
      auto-offset-reset: earliest
management:
  endpoints:
    web:
      exposure:
        include: '*'
logging:
  level:
    root: INFO
---
spring:
  profiles: dev
  data:
    mongodb:
      uri: mongodb://mongo:27017/fulfillment
  kafka:
    bootstrap-servers: kafka:9092
logging:
  level:
    root: INFO