spring:
  data:
    mongodb:
      uri: mongodb://localhost:27017/orders
  kafka:
    bootstrap-servers: localhost:9092
    topic:
      accounts-customer-save: accounts.customer.save
      orders-order-save: orders.order.save
    consumer:
      group-id: orders
      auto-offset-reset: earliest
management:
  endpoints:
    web:
      exposure:
        include: '*'
logging:
  level:
    root: INFO
---
spring:
  profiles: dev
  data:
    mongodb:
      uri: mongodb://mongo:27017/orders
  kafka:
    bootstrap-servers: kafka:9092
logging:
  level:
    root: INFO